footer {
  display: flex;
  position: absolute;
  bottom: auto;
  min-height: 200px;
  border: solid black 1px;
  text-align: left;
  padding: .5rem;
  background-color: #333333;
  margin-top: 20rem;
  
  
}

footer p {

  font-size: .75rem;
  padding: .2rem .5rem;
  text-align: left;
    color: #fff;
  
}

@media (max-width: 576px) {
  
  footer {
    max-height: fit-content;
  }
  
  footer p {
    font-size: .75rem;
    padding: .25rem;
    
  }
}